.chat-main
  .chat-main__group-info
    .left-header
      .group-title
        グループ名
      .group-member 
        Member : ユーザー名
    .right-header 
      .group-edit-btn
        = link_to "#", class:"edit" do
          Edit
  .chat-main__message-list
    .message
      .message-top
        .name ユーザー名 
        .date 2020/06/22(Mon) 00:00:01
      .message-bottom おはよう！
      .message-top
        .name ユーザー名 
        .date 2020/06/22(Mon) 00:00:01
      .message-bottom おはよう！
      .message-top
        .name ユーザー名 
        .date 2020/06/22(Mon) 00:00:01
      .message-bottom おはよう！
  .chat-main__message-form
    %form.new_message
      .form
        %input{type:"text", class:"form__text", placeholder:"type a message"}
        %label{class:"form__image"}
          = icon('far','image')
          %input{type:"file", class:"form__image--file"}
      %input{type:"submit", value:"Send", class:"submit-btn"}